/*****************\
 * G E N E R A L *
\*****************/

@font-face
{
	font-family: 'MotionPicturePersonalUse';
	src: url('../font/MotionPicturePersonalUse.eot?#iefix') format('embedded-opentype'),
		 url('../font/MotionPicturePersonalUse.woff') format('woff'),
		 url('../font/MotionPicturePersonalUse.ttf')  format('truetype'),
		 url('../font/MotionPicturePersonalUse.svg#MotionPicturePersonalUse') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'GillSans-Light';
	src: url('../font/GillSans-Light.eot?#iefix') format('embedded-opentype'),
		 url('../font/GillSans-Light.woff') format('woff'),
		 url('../font/GillSans-Light.ttf')  format('truetype'),
		 url('../font/GillSans-Light.svg#GillSans-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

body
{
	color: #fff;
	line-height: 1.2;
	overflow-x: hidden;
	font-family: 'GillSans-Light';
	font-weight: normal;
}

.image-background
{
	height: auto;
	width: 100%;
}

.img-mobile
{
	width: 100px;
	height: auto;
	background-size: 100%;
	margin: 10px;
}

.img-center
{
	text-align: center;
}

.img-text
{
	font-size: 14px;
	text-align: center;
}

.bold
{
	font-weight: bold;
}

.row
{
	margin-left: 0;
	margin-right: 0;
}

.ta-left
{
	display: block;
	text-align: left;
}

.no-pad-h
{
    padding-right: 0;
    padding-left: 0;
}


/***************\
 * H E A D E R *
\***************/

#header
{
	width: 100%;
	background-color: #2e2c2e;
	min-height: 70px;
}

.navbar
{
	margin-bottom: 0px;
	border: none;
}

.navbar-nav
{
	margin-right: 50px;
}

.navbar-default .navbar-collapse
{
	margin-top: 10px;
	/*font-size: 1.5em;*/
}

.navbar-toggle
{
	margin-top: 25px;
}

.navbar-default .navbar-nav > li > a
{
	color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover
{
	background-color: #C1C1C1;
	color: black;
}

.navbar-brand>img
{
    display: block;
    height: 40px;
}

#menu-test.floatable {
	position: fixed;
	right: 0;
	width: 80px;
}

.invisible
{
	display: none;
}

.navbar-collapse.collapse.in
{
	background-color: #2e2c2e;
}

/***************\
 * S C H O O L *
\***************/

#school
{
	width: 100%;
	background-color: rgb(130, 124, 124);
}

.title-section
{
	text-align: center;
}

.title
{
	color: #fff;
	font-size: 2.2em;
	font-family: 'MotionPicturePersonalUse';
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}

.title:before, .title:after
{
	display: inline-block;
	width: 40px;
	height: 1px;
	font-family: 'Arial';
	content: '';
	font-size: 40px;
	background-color: white;
	margin: 4px 10px;
	box-shadow: 1px 1px 10px white;
}

.sub-title
{
	font-size: 1em;
	margin-bottom: 40px;
	opacity: 0.8;
}

#school div.img-center:nth-child(2) > .img-mobile
{
	margin-top: -30px;
}

/*************************\
 * P H I L O S O P H I E *
\*************************/

#philosophie
{
	width: 100%;
	background: #44A5AC;
}

/*****************\
 * F A M I L L E *
\*****************/

#famille
{
	width: 100%;
	background: #eb6d5e;
}

/***************************\
 * I N S T A L L A T I O N *
\***************************/

#installation
{
	width: 100%;
	background: #334D68;
}

/*****************\
 * S E R V I C E *
\*****************/

#service
{
	width: 100%;
	background: #D44032;
}

/*************\
 * T A R I F *
\*************/

#tarif
{
	width: 100%;
	background: #4C4C4C;
}

.tarif_ul
{
	list-style: none;
	text-transform: none;
	font-size: 20px;
}

.tarif_ul > li
{
	font-size: 16px;
}

.tarif_ul > li .bold
{
	font-size: 20px;
}

.tarif_ul .li-title
{
	font-size: 1.4em;
	text-align: justify;
}

/***************\
 * E V R E U X *
\***************/

#evreux
{
	width: 100%;
	background: #000;
}

#evreux a
{
	color: inherit;
	font-weight: bold;
	text-decoration: underline;
}

#evreux .details,
#evreux .details img
{
	display: block;
	margin: auto;
}

.sub_maps
{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-left: -40px;
}

/*.sub_maps .localisation,
.sub_maps .mail,
.sub_maps .number
{
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}*/

.localisation img, .number img, .mail i
{
	float: left;
	margin-right: 10px;
}

.mail i
{
	font-size: 20px;
}

#school, #famille, #philosophie, #installation, #service, #tarif, #evreux
{
	padding-bottom: 30px;
}

/*****************************\
 * M E D I A - Q U E R I E S *
\*****************************/

@media (max-width: 341px)
{
    #school .title
    {
        font-size: 2em;
    }

    .title
    {
        font-size: 2.4em;
    }
}

@media (max-width: 660px)
{
    .sub_maps
    {
		display: block;
        width: 100%;
		margin-left: 0px;
    }

	.sub_maps span
	{
		display: block;
		margin: 10px;
	}

	.mail i
	{
		margin-left: 6px;
	}
}

@media (max-width: 400px)
{
    #evreux .maps
    {
        width: 200px!important;
    }

	.paysage-solo-xxs
	{
		width: 200px!important;
	}

	#school .title:before, #school .title:after
	{
		width: 5px;
	}

    .title:before, .title:after
    {
        width: 20px;
        margin: 6px 10px;
    }
}

@media (min-width: 1086px)
{
	.navbar-default .navbar-collapse
	{
		display: block;
		font-size: 1.5em;
	}

	.navbar-nav
	{
		display: block;
	}
}

@media (max-width: 767px)
{

	#school .title-section .sub-title
	{
		font-size: 1em;
	}

	#evreux .maps
	{
		width: 350px;
	}

	#school div.img-center:nth-child(2) > .img-mobile
	{
		margin-top: -30px;
	}

	#famille div.img-center:nth-child(2) > .img-mobile
	{
		margin-top: 25px;
		margin-left: -10px;
	}

	#famille div.img-center:nth-child(1) > .img-mobile,
	#famille div.img-center:nth-child(3) > .img-mobile
	{
		width: 100px;
		margin-left: -2px;
	}

    .navbar-toggle
    {
        margin-top: 13px;
    }

    .navbar-brand
    {
        padding: 5px 15px;
    }

    #header
    {
        min-height: 60px;
    }

    .navbar-brand>img
    {
        margin-top: 5px;
    }

	.sub_maps
	{
		margin-left: 0;
	}

	.paysage-solo-xxs
	{
		width: 200px!important;
	}
}

@media (min-width: 768px)
{
	.navbar-toggle
	{
		display: block;
		position: absolute;
		right: 0;
        top: -5px;
	}

	.navbar-nav
	{
		display: none;
	}

	.title
	{
		font-size: 2.8em;
	}

	#evreux .maps
	{
		width: 350px;
		height: auto;
	}

    #school > .title-section > .sub-title
	{
		font-size: 1.1em;
	}

	#famille div.img-center:nth-child(2) > .img-mobile
	{
		margin-top: 30px;
	}
}

@media (min-width: 900px)
{
	.navbar-toggle
	{
		display: none;
	}

	.navbar-nav
	{
		display: block;
	}
}

@media (min-width: 992px)
{
	.title
	{
		font-size: 4em;
	}

	.title:before, .title:after
	{
		width: 100px;
		height: 3px;
		margin: 10px;
	}

	.sub-title
	{
		font-size: 1.2em;
	}

	.img-mobile
	{
		width: 200px;
	}

	.img-text
	{
		margin-top: 30px;
		font-size: 1.2em;
	}

	#evreux .maps
	{
		width: 500px;
		height: auto;
	}

	#famille div.img-center:nth-child(2) > .img-mobile
	{
		margin-top: 45px;
	}

	#school .img-mobile
	{
		width: 125px;
	}

	#school div.img-center:nth-child(2) > .img-mobile
	{
		margin-top: 0px;
	}
}


@media (min-width: 1400px)
{
	#school .img-mobile
	{
		width: 200px;
	}

	#famille .img-mobile
	{
		width: 225px;
	}

	#famille div.img-center:nth-child(2) > .img-mobile
	{
		width: 350px;
		margin-top: 45px;
	}

	#evreux .maps
	{
		width: 679px;
		height: 463px;
	}

	.img-mobile
	{
		width: 300px;
	}

	.img-text
	{
		margin-top: 50px;
		font-size: 1.6em;
	}
}
